<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
    <head>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="bower_components/tether/dist/js/tether.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>

        <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="./css/app.css">

        <title>Vertical Cloud Solution Test</title>
    </head>

    <body ng-app="main" ng-controller="mainController" class="vcs-main">

        <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">

            <!-- TITLE -->
            <div class="row vcs-row">
                <div class="col-lg-12 vcs-title">
                    <h1>Awesome Movies!</h1>
                </div>
            </div>

            <div class="row vcs-row" style="padding: 5px;">
                <!-- ADD MOVIE -->
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <button class="btn btn-primary" type="button" ng-click="updateMovie(false, {})">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <!-- SEARCH -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <form class="form-inline">
                        <div class="input-group" style="margin:0 auto;">
                            <input type="search" class="form-control" placeholder="Search" ng-model="searchText">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" ng-click="search()">Go</button>
                            </span>
                        </div>
                    </form>
                </div>
        
                <!-- SORT MOVIE -->
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="dropdown">
                    <div style="float: right;">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownSortMovie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ sortBy }}
                        </button>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSortMovie">
                                <h6 class="dropdown-header">Sort by:</h6>
                                <button class="dropdown-item" ng-click="sort('Title')" type="button">Title</button>
                                <button class="dropdown-item" ng-click="sort('Duration')" type="button">Duration</button>
                                <button class="dropdown-item" ng-click="sort('Actors')" type="button">Actors</button>
                                <button class="dropdown-item" ng-click="sort('Director')" type="button">Director</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MOVIES LIST -->
            <div class="row vcs-row">
                <div class="col-lg-12" style="padding: 0px;">
                    <ul class="list-group">
                        <li class="list-group-item col-lg-12" ng-repeat="movie in movies">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <h3 class="list-group-item-heading">{{ movie.title }}</h3>
                                <h6 class="list-group-item-text">Duration: {{ movie.duration }} minutes</h6>
                                <h6 class="list-group-item-text">Actors: {{ movie.actors }}</h6>
                                <h6 class="list-group-item-text">Director: {{ movie.director }}</h6>
                                <h6 class="list-group-item-text">Release Date: {{ movie.releaseDate | date : "dd.MM.yyyy"}}</h6>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div style="float: right;">
                                    <button class="btn btn-primary" style="width: 50px;" type="button" ng-click="updateMovie(true, movie)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-primary" style="width: 50px;" type="button" ng-click="deleteMovie(movie.id)">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

    <footer>
    </footer>
</html>