<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <form name="myForm">
                    <div class="form-group">
                        <label class="form-control-label" for="title">Title</label>
                        <input style="margin: 5px;"
                            type="text"
                            name="title"
                            id="title"
                            class="form-control"
                            data-ng-model="movie.title"
                            required>
                        <div role="alert" class="alert alert-danger" ng-show="myForm.title.$error.required && myForm.title.$touched">
                            <strong>You must inform a movie title</strong>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-control-label" for="duration">Duration (minutes)</label>
                        <input style="margin: 5px;"
                            type="number"
                            name="duration"
                            id="duration"
                            class="form-control"
                            data-ng-model="movie.duration"
                            placeholder="120"
                            required>
                        <div role="alert" class="alert alert-danger" ng-show="myForm.duration.$error.required && myForm.duration.$touched">
                            <strong>You must inform the duration of the movie</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="actors">Actors</label>
                        <input style="margin: 5px;"
                            type="text"
                            name="actors"
                            id="actors"
                            class="form-control"
                            data-ng-model="movie.actors"
                            required>
                        <div role="alert" class="alert alert-danger" ng-show="myForm.actors.$error.required && myForm.actors.$touched">
                            <strong>You must inform the actors</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="director">Director</label>
                        <input style="margin: 5px;"
                            type="text"
                            name="director"
                            id="director"
                            class="form-control"
                            data-ng-model="movie.director"
                            required>
                        <div role="alert" class="alert alert-danger" ng-show="myForm.director.$error.required && myForm.director.$touched">
                            <strong>You must inform the director of the movie</strong>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-control-label" for="releaseDate">Release Date</label>
                        <input style="margin: 5px;"
                            type="date"
                            name="releaseDate"
                            id="releaseDate"
                            class="form-control"
                            data-ng-model="movie.releaseDate"
                            required>
                        <div role="alert" class="alert alert-danger" ng-show="myForm.releaseDate.$error.required && myForm.releaseDate.$touched">
                            <strong>You must inform the the release date</strong>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        ng-click="close(false)"
                        class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                <button type="button"
                        ng-click="close(true)"
                        class="btn btn-primary"
                        ng-disabled="!(myForm.title.$valid && myForm.duration.$valid && myForm.actors.$valid && myForm.director.$valid && myForm.releaseDate.$valid)"
                        data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>